extends layout

block content
  h1= pageTitle

  - var values = posts
  ul
    each val in posts
      li: a(href!=val.URL) !{val.title}

  | #weekly-call, #vip-guidance, #strategy-call, #service-review, #roadmap
